<% wrap_layout :layout do %>

<div class="contaiter">
	<% wrap_layout :layout do %>
	<article>
		<%= yield %>
	</article>
	<% end %>
</div>
<div class="container">
	<%= link_to 'back', '/blog.html', :relative => true %>
</div>

<% end %>