---
title: Middleman Blog
---
<!--  -->
  
<div class="container">
  <div class="article_page">
    <h1>Blog page</h1>
    <% blog.articles[0...5].each do |article| %>
    <h1>
      <%= link_to article.title, article.path, :relative => true %>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h1>
    <%= article.summary %>
    <%= link_to "Read more", article.url, :relative => true %>
    <% end %>
  </div>
</div>




