---
title: Middleman Blog | Grid
---
<div class="container">
	<h1>Three columns</h1>
	
    <div class="example">

        <ul class="cards">
            <li>
                <h2>Card 1</h2>
                <p>These cards have been laid out using grid layout. By setting <code>display: grid</code> on the parent, all direct children become grid items.</p>
            </li>
            <li>
                <h2>Card 2</h2>
               <p>These cards have been laid out using grid layout. By setting <code>display: grid</code> on the parent, all direct children become grid items.</p>
            </li>
            
             <li>
                <h2>Card 3</h2>
                <p>These cards have been laid out using grid layout. By setting <code>display: grid</code> on the parent, all direct children become grid items.</p>
            </li>
            <li>
                <h2>Card 4</h2>
                <p>These cards have been laid out using grid layout. By setting <code>display: grid</code> on the parent, all direct children become grid items.</p>
            </li>
            <li>
                <h2>Card 5</h2>
                <p>These cards have been laid out using grid layout. By setting <code>display: grid</code> on the parent, all direct children become grid items.</p>
            </li>
            
             
        </ul>
	 
    </div>
</div>

<hr>

  <div class="accordion-container">
    <h2>jQuery Accordion</h2>
    <div class="set">
      <a href="#/">
        Vestibulum 
        <i class="fa fa-plus"></i>
      </a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      </div>
    </div>
    <div class="set">
      <a href="#/">
        Phasellus 
        <i class="fa fa-plus"></i>
      </a>
      <div class="content">
        <p> Aliquam cursus vitae nulla non rhoncus. Nunc condimentum erat nec dictum tempus. Suspendisse aliquam erat hendrerit vehicula vestibulum.</p>
      </div>
    </div>
    <div class="set">
      <a href="#/">
        Praesent 
        <i class="fa fa-plus"></i>
      </a>
      <div class="content">
        <p>Pellentesque aliquam ligula libero, vitae imperdiet diam porta vitae. sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      </div>
    </div>
    <div class="set">
      <a href="#/">
        Curabitur 
        <i class="fa fa-plus"></i> 
      </a>
      <div class="content">
        <p> Donec tincidunt consectetur orci at dignissim. Proin auctor aliquam justo, vitae luctus odio pretium scelerisque. </p>
      </div>
    </div>
  </div>
