---
title: Middleman Blog
---

<!--  -->
<div class="container">
  <div class="title-wraper">
    <div class="title">
      Blog for Beginners
    </div> 

    <div class="welcome-info">
      <p>
        A Toolkit to make static website fast and simple with the moderm
        tools for web development.
      </p>	
    </div>
  </div>
  <hr>
  <div class="element">
    <div class="section_1">

      <h2>
        <%= link_to 'Grids', '/grid.html', :relative => true %>
      </h2>
    </div>

    <div class="section_2">
      <h2>
        <%= link_to 'Blog', '/blog.html', :relative => true %>
      </h2>
    </div>
  </div>
  <i class="fa fa-ravelry" aria-hidden="true"></i>	
</div>




