---
title: Middleman Blog
---

<!--  -->
<div class="container">
</div>
<section class="container-panel">
  <div class="left-half">
    <article>
       <div class="title">
          Kikluz
        </div> 
        <div class="image-center">
         <%= image_tag 'hitman.jpg' %>
       </div>
        <div class="welcome-info">
          <p>
            A Toolkit to make static website fast and simple with the moderm
            tools for web development.
          </p>  
        </div>
    </article>
  </div>

  <div class="right-half">
    <article>
      <div class="title">
        <%= link_to 'Blog', '/blog.html', :relative => true %>
      </div>
      <div class="welcome-info">
          <p>
            A Toolkit to make static website fast and simple with the moderm
            tools for web development.
          </p>  
        </div>
    </article>
  </div>
</section>