---
title: Middleman Blog
---

<!--  -->
<div class="container">

  <div class="element">
    <div class="section_1">
      <div class="title-wraper">
        <div class="title">
          Blog for Beginners
        </div> 
        <div class="welcome-info">
          <p>
            A Toolkit to make static website fast and simple with the moderm
            tools for web development.
          </p>  
        </div>
      </div>
    </div>

    <div class="section_2">
      <div class="title">
        <%= link_to 'Blog', '/blog.html', :relative => true %>
      </div>
      <p>
        Lorem ipsum dolor amet 8-bit artisan tofu lomo vinyl tumblr bitters chicharrones hell of retro. Kogi vegan hexagon ethical aesthetic. Skateboard tote bag snackwave hammock banh mi 
      </p>
    </div>
  </div>
  <i class="fa fa-ravelry" aria-hidden="true"></i>	
</div>

