
* * { box-sizing: border-box; }
body {
  background-color: #0a1923;
  height: 100%;
  content: "";
  clear: both;
  display: table;
}


// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}
//-------------------------------------------------
// basic of html
//-------------------------------------------------
// primary color
h1,h2,h3,h4,h5,h5,p {
  font-family: "Muli",avenir,"helvetica neue"
  ,helvetica,ubuntu,
  roboto,noto,"segoe ui",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: hsla(0,0%,100%,.9);
}

hr {
  border-bottom: 1px solid #16a6b6;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
}
a { text-decoration: none; }
//-------------------------------------------------
// Split panel
//-------------------------------------------------
.welcome-info {
  p {
    margin-right: auto;
    margin-left: auto;
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
  }
}

.title {
  line-height: 1.25;
  color: #fbc547;
  font-size: 3rem;
  padding: 1em;
  text-align: center;
  a {color: #fbc547;}
  @include grid-media($my-desktop-grid) {
    padding: 80px
  }
}


//-------------------------------------------------
// Using grid system (Neat)
//-------------------------------------------------
.container {
  @include grid-column(12, $neat-grid);
}

// Custom grid for mobile from myneat.cscss file
// .section_1 {
//   @include grid-media($my-desktop-grid) {
//     @include grid-column(6);
//   }
// }


// .section_2 {
//   @include grid-media($my-desktop-grid) {
//     @include grid-column(6);
//   }
// }


//-------------------------------------------------
// Blog section
//-------------------------------------------------
article.post {
  h1 {
    font-size:3em;
    line-height: 1em;
    margin:0;
  }
  .date {
    color: #BB5111;
    margin:0;
  }
}
time {color: #fbc547;}
.blog-article {
  article { margin-bottom: 3em;}
  h2 {
    font-size: 2.0em;
    margin-bottom: .5em;
    line-height: 0.7em;
  }
}

.article_page {
  padding-top: 3em;
  p {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 25px;
    font-style: normal;
    line-height: 36px;
  }
}

//-------------------------------------------------
// splip panel with display flex
//-------------------------------------------------
div {
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container-panel {
  @include grid-media($my-mobile-grid) {
    content: "";
    clear: both;
    display: table;
    display: flex;

  }
}

.left-half {
  background-color: #102635;
  flex: 1;
  padding: 1rem;
.image-center{
  width: 250px;
margin: auto;
img {
    border: 1px solid #102635;
    border-radius: 2em;
    padding: 5px;
    text-align: center;
    transition: 0.3s;
  }

  img:hover {
    opacity: 0.7;
  }
}
}

.right-half {
  background-color: #142f42;
  flex: 1;
  padding: 1rem;
}