
* * { box-sizing: border-box; }
body {
	background-color: #0a1923;
	height: 100%;
}


// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

// primary color
h1,h2,h3,h4,h5,h5,p {
	font-family: "Muli",avenir,"helvetica neue"
	,helvetica,ubuntu,
	roboto,noto,"segoe ui",arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	color: hsla(0,0%,100%,.9);
}

a {
	text-decoration: none;
	a:hover {
		color: #548;
    	background-color: transparent;
	}
}
.welcome-info {
	p {
		margin-right: auto;
		margin-left: auto;
		font-size: 1.4em;
		text-align: center;
		// color: #999;
		font-weight: 200;
	}
}
.element {
	content: "";
	clear: both;
	display: table;
}

.title {
	line-height: 1.25;
	color: #fbc547;
	font-size: 3rem;
	padding: 1em;
    text-align: center;
	@include grid-media($my-desktop-grid) {
		text-align: center;
		padding: 80px
	}
}


hr {
	background-color: #ebb951;
	clear: both;
}
// Using Neat grid from myneat.cscss file
.container {
	@include grid-column(12, $neat-grid);
}

// Custom grid for mobile from myneat.cscss file
.section_1 {
	@include grid-media($my-desktop-grid) {
		@include grid-column(6);
	}
}


	.section_2 {
    @include grid-media($my-desktop-grid) {
		@include grid-column(6);
	}
}



.accordion-container{
  position: relative;
  @include grid-media($my-desktop-grid) {
  width: 500px;
}
  height: auto;
  margin: 20px auto;
}
.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i{
  position:relative;
  float: right;
  margin-top:4px;
  color: #666;
}
.set > a.active{
  background-color:#3399cc;
  color: #fff;
}
.set > a.active i{
  color: #fff;
}
.content{
  position:relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}
//-------------------------------------------------
// how to use grids for cards
//-------------------------------------------------
.cards {
  @include grid-media($my-mobile-grid) {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
}
.cards li {
      background-color: #0c2333;
    border: 1px solid #385469;
  margin: 0 10px 20px 10px;
  padding: 10px;
  border-radius: 5px;
}


// blog testing 
article.post {
  h1 {
    font-size:3em;
    line-height: 1em;
    margin:0;
  }
  .date {
    color: #BB5111;
    // font-weight: bold;
    // font-size:1.5em;
    margin:0;
  }
}
time {color: #fbc547;}
.blog-article {
  article { margin-bottom: 3em;}
  h2 {
    font-size: 2.0em;
    margin-bottom: .5em;
    line-height: 0.7em;
  }
  
}
.article_page {
  padding-top: 3em;
  
  
}
hr {
  border-bottom: 1px solid #16a6b6;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 120px;
  }